<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- Table Section -->
          <div class="col-md-8">
            <div class="p-2 mb-3" style="background-color: yellow; color: black;">
              <strong>Employee Projects List</strong>
            </div>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Employee Name</th>
                  <th>Project Name</th>  
                  <th>Employee id</th>  
                  <th>Project id</th>              
                  <th>Role</th>
                  <th>Assigned Date</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeerpojectlist(); track $index){
                <!-- Example row, you can dynamically populate this with data -->
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.employeeName}}</td>
                  <td>{{item.projectName}}</td>
                  <td>{{item.empId}}</td>
                  <td>{{item.projectId}}</td>
                  <td>{{item.role}}</td>
                  <td>{{item.assignedDate}}</td>
                  <td>{{item.isActive}}</td>
                 
                 
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="onedit(item)" >Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(item.empProjectId)">Delete</button>
                </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
  
          <!-- Form Section -->
          <div class="col-md-4">
            <div class="p-2 mb-3" style="background-color: yellow; color: black;">
              <strong>Add New Employee Project</strong>
            </div>
            <form>
              <div class="mb-3">
                <label for="role" class="form-label">Employee Name</label>
                <input type="text" class="form-control" id="role" [(ngModel)]="employeeprojectform.employeeName" name="employeeName" placeholder="Enter role" />
              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="role" [(ngModel)]="employeeprojectform.projectName" name="projectName" placeholder="Enter role" />
              </div>
              <div class="mb-3">
                <label for="projectId" class="form-label">Project</label>
                <select class="form-control" id="departmentDropdown" [(ngModel)]="employeeprojectform.projectId"  name="projectId">
                  @for (item of projectlist$ |async; track $index) {
                      <option [value]="">select</option>
                      <option [value]="item.projectId">{{item.projectName}}</option>
                  }
              </select>
              </div>
              <div class="mb-3">
                <label for="empId" class="form-label">Employee</label>
                <select class="form-select"  [(ngModel)]="employeeprojectform.empId" name="empId">
                  @for (item of Employeelist$ |async; track $index) {
                      <option [value]="">select</option>
                      <option [value]="item.employeeId">{{item.employeeName}}</option>
                  }
              </select>
              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <input type="text" class="form-control" id="role" [(ngModel)]="employeeprojectform.role" name="role" placeholder="Enter role" />
              </div>
              <div class="mb-3">
                <label for="assignedDate" class="form-label">Assigned Date</label>
                <input type="date" class="form-control" [(ngModel)]="employeeprojectform.assignedDate" name="assignedDate" id="assignedDate" />
              </div>
              <div class="mb-3">
                <label for="isActive" class="form-label">Is Active</label>
                <select class="form-select"  [(ngModel)]="employeeprojectform.isActive" name="isActive"  id="isActive">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
              @if(this.employeeprojectform.empProjectId==0){
                <button type="button" (click)="onSubmit()" class="btn btn-primary mr-3">save Employee</button>
               
            }
            @else {
                <button type="button" (click)="updatesemp()" class="btn btn-primary mr-3">Update Employee</button>
               
            }
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  