<form [formGroup]="projectform">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="employeeName" class="form-label">project Name</label>
            <input type="text" class="form-control" formControlName="projectName"  name="employeeName" id="employeeName" placeholder="Enter employee name">
        </div>
        <div class="col-md-6 mb-3">
            <label for="employeeEmail" class="form-label">client Name</label>
            <input type="text" class="form-control" formControlName="clientName"   name="email" id="employeeEmail" placeholder="Enter email">
        </div>
        <div class="col-md-6 mb-3">
            <label for="employeePhone" class="form-label">start Date</label>
            <input type="date" class="form-control" formControlName="startDate"  name="contactNo" id="employeePhone" placeholder="Enter phone number">
        </div>

        <div class="col-md-6 mb-3">
            <label for="departmentDropdown" class="form-label">leadByEmpId</label>

            <select class="form-control" id="departmentDropdown" formControlName="leadByEmpId">
                @for (item of emplist$ |async; track $index) {
                    <option [value]="">select</option>
                    <option [value]="item.employeeId">{{item.employeeName}}</option>
                }
            </select>
           
        </div>
       
      
        <div class="col-md-6 mb-3">
            <label for="employeeSalary" class="form-label">contact Person</label>
            <input type="text" class="form-control" formControlName="contactPerson"  name="password" id="employeeSalary" placeholder="Enter salary">
        </div>
        <div class="col-md-6 mb-3">
            <label for="employeeSalary" class="form-label">contact No</label>
            <input type="text" class="form-control" formControlName="contactNo" name="role" id="employeeSalary" placeholder="Enter salary">
        </div>
        <div class="col-md-6 mb-3">
            <label for="employeeSalary" class="form-label">email</label>
            <input type="email" class="form-control" formControlName="emailId" name="role" id="employeeSalary" placeholder="Enter salary">
        </div>
    </div>
   
    @if(projectform.controls['projectId'].value==0){
        <button type="button" (click)="onSaveProject()" class="btn btn-primary mr-3">save Project</button>
        <!-- <button  class="btn btn-outline-secondary"  (click)="isformvisible.set(false)">close</button> -->
    }
    @else {
        <button type="button" (click)="onupdate()" class="btn btn-primary mr-3">Update Project</button>
        <!-- <button  class="btn btn-warning-secondary"  (click)="isformvisible.set(false)">close</button> -->
    }
   
</form>
