
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">Transaction Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/employee">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/employeeproject">Employee Project</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Transaction">Transaction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/account">Account</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <router-outlet></router-outlet>
    </div>


