body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a32b2b; /* Light grey background */
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.form-2-wrapper {
    background: #fff; /* White background for the form */
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 100%;
    max-width: 400px;
}

input.form-control {
    padding: 11px;
    border: none;
    border: 2px solid #405c7cb8;
    border-radius: 30px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

input.form-control:focus {
    box-shadow: none !important;
    outline: 0px !important;
    background-color: transparent;
}

button.login-btn {
    background: #b400ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
}

.logo {
    margin-bottom: 20px;
}

.logo h2 {
    font-size: 24px;
    font-weight: bold;
}