<div class="row g-3"> 
    <!-- Total Transactions Widget -->
    <div class="col-lg-6 col-md-6 col-sm-12"> 
        <div class="card shadow border-0 text-white bg-primary">
            <div class="card-body text-center">
                <h3 class="fw-bold">{{ (transactionist$ | async)?.length }}</h3>
                <p class="fs-5">Total Transactions</p>
            </div>
            <div class="card-footer bg-transparent border-0 text-center">
                <a routerLink="/Transaction" class="text-white text-decoration-none fw-semibold">
                    More info <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Total Accounts Widget -->
    <div class="col-lg-6 col-md-6 col-sm-12"> 
        <div class="card shadow border-0 text-white bg-success">
            <div class="card-body text-center">
                <h3 class="fw-bold">{{ (accountList$ | async)?.length }}</h3>
                <p class="fs-5">Total Accounts</p>
            </div>
            <div class="card-footer bg-transparent border-0 text-center">
                <a routerLink="/account" class="text-white text-decoration-none fw-semibold">
                    More info <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </div>
        </div>
    </div>
</div>
